body {
    background: rgb(2, 53, 100);
    font: normal 15pt arial;
    color: white;
}

header {
    text-align: center;
    
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.342);
    color: black;
}

div {
    text-align: left;
    padding: 15px;
}

select#lista {
    width: 150px;
}
footer {
    text-align: center;
    font-style: italic;
}
